block footer
    footer 
    .lgo 
    h1
    span.frs UPS
    span.sec DSS
    .socials
    h1 Contact Us 
    a(href="https://wwww.facebook.com/upsdss") 
    img(src="./images/facebook-circular-logo.png", alt="facebook")
    a(href="https://www.twitter.com/upsdss")
    img(src="./images/twitter.png", alt="twiter") 
    a(href="mailto:upsdss@gmail.com")
    img(src="./images/email.png", alt="email") 
    p 0559751859
    p 0240590455
    .copyright 
    p copyright &copy; 2022 All Rights Reserved 
