extends layout.pug
block content
 section#interest_page 
  .intro 
   .intro_text
    h1 Which Of The Following Fields Do You Find Interesting (Career Wise)
    p Please note that based on the program you offered in shs some of the fields will not be recommended 
   .intro_image
    img(src="./images/undraw_interests.png" alt="interest introduction image") 
  .intro_message 
   p Read Through The Following Fields And 
    a(href="#") Select
    span  The Ones That Interest You. 

  .interest_content 
  
   .content_holder
    .content  
     .img
      img(src="./images/health_.jpg", alt="doctors image")
      .slider 
     .text
      h1 Health and Applied Sciences
    .description 
     p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo obcaecati rem facere adipisci sit libero cupiditate. A quod dicta iste, asperiores possimus, cumque aspernatur harum similique, facere pariatur ut odio! 
   
   .content_holder
    .content  
     .img
      img(src="./images/robotics.jpg", alt="engineering image")
      .slider 
     .text
      h1 Engineering
    .description 
     p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo obcaecati rem facere adipisci sit libero cupiditate. A quod dicta iste, asperiores possimus, cumque aspernatur harum similique, facere pariatur ut odio! 
  
   .content_holder
    .content  
     .img
      img(src="./images/architectural.jpg", alt="construction image")
      .slider 
     .text
      h1 Art and Built
    .description 
     p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo obcaecati rem facere adipisci sit libero cupiditate. A quod dicta iste, asperiores possimus, cumque aspernatur harum similique, facere pariatur ut odio! 
   
   .content_holder
    .content  
     .img
      img(src="./images/science1.jpg", alt="science image")
      .slider 
     .text
      h1 Sciences
    .description 
     p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo obcaecati rem facere adipisci sit libero cupiditate. A quod dicta iste, asperiores possimus, cumque aspernatur harum similique, facere pariatur ut odio! 
  
   .content_holder
    .content  
     .img
      img(src="./images/politics2.jpg", alt="politics image")
      .slider 
     .text
      h1 Humanities and Social Sciences
    .description 
     p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo obcaecati rem facere adipisci sit libero cupiditate. A quod dicta iste, asperiores possimus, cumque aspernatur harum similique, facere pariatur ut odio! 
  
   .content_holder
    .content  
     .img
      img(src="./images/agriculture_.jpg", alt="Agriculture image")
      .slider 
     .text
      h1 Agriculture and Natural Resources
    .description 
     p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo obcaecati rem facere adipisci sit libero cupiditate. A quod dicta iste, asperiores possimus, cumque aspernatur harum similique, facere pariatur ut odio! 
  
  .interst_form 
     