extends layout.pug
block content
 section#interest_page 
  .intro 
   .intro_text
    h1 Which Of The Following Fields Do You Find Interesting (Career-Wise)
    p Please note that based on the program you offered in shs some of the fields will not be recommended
    if shsprogram 
    p#shsprogram=shsprogram
   .intro_image
    img(src="./images/undraw_interests.png" alt="interest introduction image") 
  .intro_message 
   p Read Through The Following Fields
   p#link Click 
    a(href="#interest_form") Here
    span To Select Your Interest ...
  .interest_content 
  
   .content_holder
    .content  
     .img
      img(src="./images/health_.jpg", alt="doctors image")
      .slider 
     .text
      h1 Health and Allied Sciences
    .description 
     p This field Comprises of programs that educate on caring, diagnosing, prognosis , prevention 
      span treatment, palliation of patients and promotion of patient's health. Programs offered in health and allied sciences train
      span  students to become medical professionals to work to prevent, diagnose and treat diseases and illnesses.
      span They also apply management and administration skills to support health care systems, 
      span apply scientific principles and evidence-based practices to assist patients. 
     h3 Programs offered here includes 
     .program_listing
      ul
        li Doctor of Pharmacy,
        li Bsc. Herbal Medicine,
        li Bsc. Human Biology
        li Bsc. Medical Laboratory 
        li Bsc. Physiotherapy and Sports Science
        li Bsc. Physician Assistantship
        li Bsc. Medial Imaging (Sonography)
        li Bsc. Nursing
        li Bsc. Midwifery
        li Bsc. Dental Surgery
        li Doctor of Vetinary Medicine
        li Bsc. Disability & Rehabilitation Studies
      .notes  
       p Recommended for students that offered General Science in High School.
       p Students who offered other Programs in Senior High School other than General Science can still choose this program 
        strong Only
        span  if they are interested in 
        strong Bsc. Disability & Rehabilitation Studies.
 
   .content_holder
    .content  
     .img
      img(src="./images/robotics.jpg", alt="engineering image")
      .slider 
     .text
      h1 Engineering
    .description 
     p This field consists programs that utilizes scientific principles to design and build machines,
      span structures and other items such as bridges, tunnels, vehicles and buildings.
     h3 Programs under this field includes 
     .program_listing
      ul 
       li  BSc Agricultural Engineering
       li BSc Chemical Engineering
       li BSc Civil Engineering
       li BSc Geomatic Engineering (Geodetic Engineering)
       li BSc Materials Engineering
       li BSc Mechanical Engineering
       li BSc Electrical & Electronic Engineering
       li BSc Computer Engineering
       li BSc Aerospace Engineering
       li BSc Petroleum Engineering
       li BSc Telecommunication Engineering
       li BSc Geological Engineering
       li BSc Biomedical Engineering
       li BSc Petrochemical Engineering
       li BSc Metallurgical Engineering
      .notes 
       p Recommended for Students that offered General Science and Technical in Senior High School 
   .content_holder
    .content  
     .img
      img(src="./images/architectural.jpg", alt="construction image")
      .slider 
     .text
      h1 Art and Built Environment
    .description 
     p This field offers programs that educate students on creation and design of buildings,analyzing cost involved in construction and innovation and design of arts through
      span  its wide array of programs.
     h3 Programs under this field includes
     .program_listing 
      ul 
       li Bsc. Architecture
       li Bsc. Construction Technology & Managment  (Building Technology)
       li Bsc. Quantity Surveying & Construction Economics 
       li Bsc. Development Planning
       li Bsc. Human Settlement Planning
       li Bsc. Land Economy
       li Bsc. Real Estate
       li Bsc. Fashion Design
       li Bsc. Textile Design and Technology
       li Bsc. Ceramic Technology
       li Bsc. Integrated Rural Art and Industry
       li BA.  Publishing Studies
       li BA.  Communication Design 
       li BFA. Painting and Sculture
       li BFA. Ceramics
      .notes 
       P Recommended for Students that offered General Science, Technical , Visual Arts and General Arts in SHS. 
   .content_holder
    .content  
     .img
      img(src="./images/science1.jpg", alt="science image")
      .slider 
     .text
      h1 Sciences
    .description 
     p Comprises of programs that educates students on  the systematic study
      span  of the structure and behaviour of the physical and natural world through observation and experiment.
      
     h3 Programs under this field includes :
     .program_listing
      ul 
       li Bsc. Biochemistry
       li Bsc. Food Science
       li Bsc. Environmental Science
       li Bsc. Biological Science
       li Bsc. Chemistry
       li Bsc. Computer Science
       li Bsc. Mathematics
       li Bsc. Statistics
       li Bsc. Physics
       li Bsc. Acturial Science
       li Bsc. Meteororlogy and Climate Science
       li Doctor of Optometry 
      .notes 
       p Recommended for Students who offered General Science in SHS.
       p Students Who offered Home Economics and are interested in 
        strong  Bsc Food Science
        span  can choose this field
       p General Arts and Technical Students can choose this course if they had passes in chemistry or physics and are interested
        span  Bsc. Acturial Science  
   .content_holder
    .content  
     .img
      img(src="./images/politics2.jpg", alt="politics image")
      .slider 
     .text
      h1 Humanities and Social Sciences
    .description 
     p This field consits of programs that deals with the scientific study of human society and social relationships.
     h3 Programs under this field includes: 
     .program_listing
      ul 
       li BA Economics
       li BA Geography and Rural Development
       li BA Sociology
       li BA Social Work
       li BA Religious Studies
       li BA History
       li BA Political Studies
       li BA French
       li BA Akan
       li BA Culture and Tourism
       li BA English
       li BSc. Business Administration
       li LLB (4 years for WASSE/SSSCE/GBCE and Equivalent Holders)
       li LLB Part-Time, (4years for Degree Holders only)
       li BA Economics 
       li BSc. Business Administration 
       li BA Geography and Rural Development 
       li BA Sociology 
       li BA Social Work 
       li BA History 
       li BA Political Studies 
       li BA French 
       li BA Culture and Tourism 
       li BA English 
       li BA Religious Studies 
      .notes 
       P Recommended For Students Who Offered General Arts, Business, General Science , Visual Arts, Technical , Home Economics , Agriculture .  
   .content_holder
    .content  
     .img
      img(src="./images/agriculture_.jpg", alt="Agriculture image")
      .slider 
     .text
      h1 Agriculture and Natural Resources
    .description  
     p This field consists of programs that educate and train students on how to manage and care of natural resources 
      span including agriculture.
     h3 Programs under this field includes: 
     .program_listing
      ul 
       li Bsc. Agriculture
       li Bsc. Natural Resources Management
       li Bsc. Landscape Design and Management
       li Bsc. Agricultural Biotechnology
       li Bsc. Agribusiness Management
       li Bsc. Forest Resources Technology
       li Bsc. Aquacaulture & Water Resources Management
      .notes 
       p Recommended For Students that offered Business, Agriculture , General Science and Technical in SHS. 
  hr
  .interest_form
    h1 Select The Fields That Interest You. ( 
     span(id="red") Maximum 3
     span )
    form(action="" id="interest_form" name="interest_form" )
     .form_data
      .opt 
       label(for="has") Health and Allied Sciences
       input(type="checkbox", name="healthandalliedsciences" id="has" class="int")
      .opt
       label(for="eng") Engineering
       input(type="checkbox", name="engineering" id="eng" class="int")
      .opt
       label(for="arts&built") Art and Built Environment
       input(type="checkbox", name="artandbuilt" id="arts&built" class="int")
      .opt
       label(for="sci") Science
       input(type="checkbox" name="science" id="sci" class="int")
      .opt
       label(for="humanities") Humanities and Social Science
       input(type="checkbox", name="humanitiesandsocialscience" id="humanities" class="int")
      .opt
       label(for="agric&natu") Agriculture and Natural Resources
       input(type="checkbox" name="agricandnaturalresources" id="agric&natu" class="int")
     .sub 
      input(type="submit", value="Next") 
  script(type="text/javascript" src="./js/main.js")         
     