extends layout.pug 
block content 
 section#program_details
  .intro
   h1 Senior High School Program Details
   .pd_image 
    img(src="./images/collect.png", alt="data collection image") 
  hr
  .personal_subjects_container 
   .personal_details
    h1 Personal Details 
    .name 
     p Name : &nbsp;
     p Real Name
    .programoffered 
     p Program Offered In SHS : &nbsp;
     p Program Name 
   .core_subjects 
    h2 Core Subjects
    ul 
     li English Language
     li Mathematics
     li Integrated Science 
     li Social Studies   
  hr   
  .electives_container 
   h2 Select Your  Elective Subjects (
    span#red  Electives Must be 4 in total 
    span )
      
   .electives 
    if electives 
     each subject in electives
      .opt=subject