extends layout.pug 
block content
  script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
  section#graphic
   .intro   
    if username 
     .username 
      h1=username
    else 
     .username 
      h1 John Doe
    .intro_img 
     img(src="./images/success.png") 
   if cutoff
    .cutoff 
      p WASSCE Aggregate Calculated = &nbsp;
       span=cutoff
   .strength_graph     
    .space(id="barchart_values" style="width=fit-content; height: auto;")  
    if strength
     .strength
      h1 Key Strengths
      each str in strength 
       p=str
   hr
   .outro 
    P We have to know your interest to find the most suitable program for you.
    p Click Next to begin &nbsp;
     a(href="/users/interest") Next 


  script(type="text/javascript" src="./js/chart.js")
       