extends layout.pug 
block content 
 section#program_details
  .intro
   h1 Senior High School Program Details
   .pd_image 
    img(src="./images/collect.png", alt="data collection image") 
  hr
  .personal_subjects_container 
   .personal_details
    h1 Personal Details 
    .name 
     p Name : &nbsp;
     p Real Name
    .programoffered 
     p Program Offered In SHS : &nbsp;
     p Program Name 
   .core_subjects 
    h2 Core Subjects
    ul 
     li.core English Language
     li.core Core Mathematics
     li.core Integrated Science 
     li.core Social Studies   
  hr   
  .electives_container 
   h2 Select Your  Elective Subjects (
    span#red  Electives Must be 4 in total 
    span )
       
   if electives
    .elective_form 
     form(name = 'elective_subjects' class="elective_form" action=""  id="electiveform")  
      .elective_subs
       each subject in electives
        .opt_cont 
         label=subject
         input(type="checkbox" class="opt2" name="elective" value=subject )
      .submit   
       input(type="submit" value="next >>")
  .scores_container#scores_cont
   h1 Enter The Scores You had In WASSCE (
     span#red  Your Scores Must Be Accurate 
     span )
     
   form(name="scores" class="scores_form" action="" id="scores_form" method="post")  
 script(src="./js/main.js") 
