extends layout.pug 
block content 
    main
     if error 
      .error_message(id="error_msg")
       p=error
     .container 
      .illus 
       img(src="./images/learn__1.png", alt="decision guide")
      .intro 
       .intro_msg  
        h1 Welcome
        if name  
         p= name
        else 
         p John Doe 
     .toselect 
      h1  Please Select The Program You Offered in Senior High School.
     .options 
      form(action="/users/course" name="programoffered" id="courseform" method="post")
       .form_cont
        .opt_cont
            label(for="gs") General Science 
            input(type="radio",class="opt" name="program" value="General Science" id="gs")       
        .opt_cont 
            label(for="bs") Business
            input(type="radio",class="opt" name="program" value="Business" id="bs")
        .opt_cont 
            label(for="ga") General Arts
            input(type="radio",class="opt" name="program" value="General Arts" id="ga")
        .opt_cont 
            label(for="he") Home Econs 
            input(type="radio",class="opt" name="program" value="Home Economics" id="he")
        .opt_cont 
            label(for="va") Visual Arts
            input(type="radio",class="opt" name="program" value="Visual Arts" id="va")
        .opt_cont 
            label(for="tl") Technical 
            input(type="radio",class="opt" name="program" value="Technical" id="tl")  
       .submit 
        input(type="submit", value="continue >>")   
    script(src="./js/main.js")         
        
