extends layout.pug 
block content 
    main
     .container 
      .illus 
       img(src="./images/learn__1.png", alt="decision guide")
      .intro 
       .intro_msg  
        h1 Welcome
        if name  
         p= name
        else 
         p John Doe 
     .toselect 
      h1  Please Select The Program You Offered in Senior High School.
     .options 
      form(action="/users/course" name="programoffered" id="courseform" method="post")
       .form_cont
        .opt_cont
            label(for="gs") General Science 
            input(type="checkbox",class="opt" name="program" value="generalscience" id="gs")       
        .opt_cont 
            label(for="bs") Business
            input(type="checkbox",class="opt" name="program" value="business" id="bs")
        .opt_cont 
            label(for="ga") General Arts
            input(type="checkbox",class="opt" name="program" value="generalarts" id="ga")
        .opt_cont 
            label(for="he") Home Econs 
            input(type="checkbox",class="opt" name="program" value="homeeconomics" id="he")
        .opt_cont 
            label(for="va") Visual Arts
            input(type="checkbox",class="opt" name="program" value="visualarts" id="va")
        .opt_cont 
            label(for="tl") Technical 
            input(type="checkbox",class="opt" name="program" value="technical" id="tl")  
       .submit 
        input(type="submit", value="continue >>")   
    script(src="./js/main.js")         
        
