body section#interest_page{
    padding:1rem 0;
    font-family: sans-serif;
}

body section#interest_page .intro{
    display: flex;
    height: 50vh;
    width:90%;
    margin: auto;
    
}

body section#interest_page .intro_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:5px;
    flex:2;
}
body section#interest_page .intro_text h1{
    font-size: 2rem;
    text-align: center;
}
body section#interest_page .intro_image{
    flex:1;
    height: inherit;
    
}

body section#interest_page .intro_image img{
    height: inherit;
    width:100%;
    max-width: 100%;
    object-fit: contain;
    padding:5px;
}
body .intro_message{
    padding:2rem;
    
}
body .intro_message p:not(#link){
    text-align: center;
    font-size: 1.8rem;
    text-decoration: underline;
    color:rgb(11, 26, 41);
    
}

body .intro_message #link{
    text-align: center;
    font-size:1.1rem;
}
body .intro_message #link a{
    font-weight: bold;
}
body .interest_content .content{
    height:160px;
   
}

body .interest_content .content img{
    width:100%;
    max-width: 100%;
    height: 150px;
    object-fit:cover;
    object-position:65% 35%;
}
body .interest_content .content .img .slider{
    max-width: 100%;
    width: 100%;
    height: 150px;
    background-color: rgb(11, 26, 41);
    position: relative;
    top:-154px;
    opacity: 0.8;
}

body .interest_content .content .text{
    position: relative;
    top: -300px;
    color: whitesmoke;
    text-align: center;
}

body .interest_content .content .text h1{
    font-size: 3.2rem;
}

body .content_holder .description{
    padding:2rem;
}
body .content_holder .description p , body .content_holder ul li{
    font-size: 1.1rem;
    word-spacing: 2px;
    letter-spacing: 1px;
    color:rgb(45, 44, 44);
}
body .content_holder ul li{
    padding:5px;
    border-left:5px solid rgb(20, 96, 91);
    margin-bottom: 4px;
}
body .content_holder .notes p{
    color:black;
    text-shadow: 2px 3px 3px 2px rgba(0,0,0,0.12);
}
body .content_holder .description ul{
    list-style-type: none;
}
body .interest_form{
    padding:2rem;
}
body .interest_form h1{
    text-align: center;
    font-size: 2rem;
}
body .interest_form .form_data{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem;
}
body .interest_form .form_data .opt{
    border:1px solid green;
    border-radius:5px;
    cursor: pointer;
    padding:4px;
}
body .interest_form .form_data .opt label{
    padding:5px;
    display: inline-block;
    cursor: pointer;
    font-size: 1.1rem;
}
body .interest_form .form_data .opt input[type="checkbox"]{
    padding:5px;
    cursor: pointer;
}
body .interest_form  .sub{
    padding-top: 2rem;
    display: flex;
    width:80%;
    align-items: flex-end;
    justify-content: flex-end;
    margin: auto;
}
body .interest_form .sub input[type="submit"]{
    padding:8px 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    display: block;
    color: white;
    background-color:rgb(20, 96, 91); 
}

body .interest_form .sub input[type="submit"]:hover{
    opacity: 0.8;
}
body .interest_form .notes{
    padding:10px;
}
body .interest_form .notes p{
    text-align: center;
    font-size:17px;
}
body .interest_form .notes p span{
    font-weight: bold;
}
body #red{
    color:red;
}
body #shsprogram{
    display:none;
}
body section#adv_interest{
    padding-top:2rem;
    
}

body #adv_interest .intro_container{
    width:80%;
    margin:auto;
    height:60vh;
    display: flex;
}

body #adv_interest .intro_container .img_cont{
    flex:2;
    height:inherit;
}

body #adv_interest .intro_container .img_cont img{
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    height: inherit;
    box-shadow: -4px 2px 4px 0px rgba(0,0,0,0.12);
}

body #adv_interest .intro_container .txt_cont{
    flex:1;
    display: flex;
    align-items: center; 
    position: relative;
    left:-6rem;
    z-index: 1;
}
body #adv_interest .intro_container .txt_cont .txt{
    padding:1rem;
    background: rgb(40, 151, 144);
    border-radius: 4px;
    box-shadow: -4px 2px 4px 0px rgba(0,0,0,0.12);
}
body #adv_interest .intro_container .txt_cont h1{
    font-size: 2.5rem;
    color:whitesmoke;
    text-align: center;
}
body #adv_interest .p_details{
    padding:2rem;
}

body #adv_interest .p_details h2{
    font-size: 2rem;
    border-left: 8px solid rgb(40, 151, 144);
    padding:12px;
    background-color: rgb(207, 203, 203);
}
body .p_details .details,body .info{
    padding:5px;
    padding-left:15px;
}

body .p_details .details p{
    font-size: 20px;
}
#note{
    width:fit-content;
}
body .p_details .info p{
    font-size: 1.2rem;
    word-spacing: 1px;
}

body .p_details ul {
    list-style: none;
}
body .p_details ul li{
    padding:6px;
    background-color: rgb(224, 223, 223);
    width: 30%;
    margin-bottom: 4px;
    border-left:5px solid rgb(20, 96, 91);
}