body{
    box-sizing: border-box;
}
body section#interest_page{
    padding:1rem 0;
    font-family: sans-serif;
}

body section#interest_page .intro{
    display: flex;
    height: 50vh;
    width:90%;
    margin: auto;
    
}

body section#interest_page .intro_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:5px;
    flex:2;
}
body section#interest_page .intro_text h1{
    font-size: 2rem;
    text-align: center;
}
body section#interest_page .intro_image{
    flex:1;
    height: inherit;
    
}

body section#interest_page .intro_image img{
    height: inherit;
    width:100%;
    max-width: 100%;
    object-fit: contain;
    padding:5px;
}
body .intro_message{
    padding:2rem;
    
}
body .intro_message p:not(#link){
    text-align: center;
    font-size: 1.8rem;
    text-decoration: underline;
    color:rgb(11, 26, 41);
    
}

body .intro_message #link{
    text-align: center;
    font-size:1.1rem;
}
body .intro_message #link a{
    font-weight: bold;
}
body .interest_content .content{
    height:160px;
   
}

body .interest_content .content img{
    width:100%;
    max-width: 100%;
    height: 150px;
    object-fit:cover;
    object-position:65% 35%;
}
body .interest_content .content .img .slider{
    max-width: 100%;
    width: 100%;
    height: 150px;
    background-color: rgb(11, 26, 41);
    position: relative;
    top:-154px;
    opacity: 0.8;
}

body .interest_content .content .text{
    position: relative;
    top: -300px;
    color: whitesmoke;
    text-align: center;
}

body .interest_content .content .text h1{
    font-size: 3.2rem;
}

body .content_holder .description{
    padding:2rem;
}
body .content_holder .description p , body .content_holder ul li{
    font-size: 1.1rem;
    word-spacing: 2px;
    letter-spacing: 1px;
    color:rgb(45, 44, 44);
}
body .content_holder ul li{
    padding:5px;
    border-left:5px solid rgb(20, 96, 91);
    margin-bottom: 4px;
}
body .content_holder .notes p{
    color:black;
    text-shadow: 2px 3px 3px 2px rgba(0,0,0,0.12);
}
body .content_holder .description ul{
    list-style-type: none;
}
body .interest_form{
    padding:2rem;
}
body .interest_form h1{
    text-align: center;
    font-size: 2rem;
}
body .interest_form .form_data{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem;
}
body .interest_form .form_data .opt{
    border:1px solid green;
    border-radius:5px;
    cursor: pointer;
    padding:4px;
}
body .interest_form .form_data .opt label{
    padding:5px;
    display: inline-block;
    cursor: pointer;
    font-size: 1.1rem;
}
body .interest_form .form_data .opt input[type="checkbox"]{
    padding:5px;
    cursor: pointer;
}
body .interest_form  .sub{
    padding-top: 2rem;
    display: flex;
    width:80%;
    align-items: flex-end;
    justify-content: flex-end;
    margin: auto;
}
body .interest_form .sub input[type="submit"]{
    padding:8px 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    display: block;
    color: white;
    background-color:rgb(20, 96, 91); 
}

body .interest_form .sub input[type="submit"]:hover{
    opacity: 0.8;
}
body .interest_form .notes{
    padding:10px;
}
body .interest_form .notes p{
    text-align: center;
    font-size:17px;
}
body .interest_form .notes p span{
    font-weight: bold;
}
body #red{
    color:red;
}
body #shsprogram{
    display:none;
}
body #adv_interest{
    padding:3rem 2rem;
}
body #adv_interest .intro_container{
    
    width:90%;
    margin:auto;
    display:flex;
    height: 42vh;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}

body .intro_container .p_details{  
    flex:1;
    padding:1rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
body .intro_container .details{
    padding-left: 2rem;
}
body .intro_container .p_details h1{
    font-size: 2rem;
}
body .intro_container .p_details p{
    font-size:1.1rem;
    
}
body .intro_container .p_details ul{
    list-style-type: none;
}
body .intro_container ul li{
    padding:3px;
    margin-bottom: 4px;
    border-left: 4px solid rgb(20, 96, 91);
}

body .intro_container .intro_img{
    
    flex:2;
    height: inherit;
}

body .intro_container .intro_img img{
    width:100%;
    max-width: 100%;
    height: inherit;
    object-fit: contain;
    padding:5px;
}

body #adv_interest .phase1{
    padding:2rem;
}
body #adv_interest .phase1 h1#intro{
    padding-bottom: 4rem;
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
}
body #adv_interest .phase1 h1:not(#intro){
    background-color: rgb(213, 207, 207);
    padding:10px;
    border-left:8px solid rgb(20, 96, 91);
}
body #adv_interest .phase1_contents .programs_holder{
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    

}
body #adv_interest .phase1_contents .programs_holder .prog_cont{
    display: flex;
    padding:5px;
    align-items: center;
}

body #adv_interest .info{
    padding:3rem 1rem;
}

body #adv_interest .info p.notes{
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 20px;
    padding-bottom: 3rem;
}

body #adv_interest .info p.notes b{
    font-size: 1.5rem;
}

body #adv_interest h1.phase2{
    text-align: center;
    text-decoration: underline;
    font-size:1.7rem;
    margin-bottom: 2rem;
}

body #adv_interest .sidenotes{
    text-align: center;
    font-size: 20px;
    color:rgb(40, 35, 35);
    margin-bottom: 3rem;
}
body #adv_interest .phase2_contents h1{
    background-color: rgb(213, 207, 207);
    padding:10px;
    border-left:8px solid rgb(20, 96, 91);
    margin-bottom: 2rem;
}
body #adv_interest .phase2_contents .programs_holder{
    padding-left: 2rem;
}

body #adv_interest .phase2_contents .programs_holder .prog_cont{
    padding:3px 8px;
    margin-bottom:8px;
    border-left:6px solid rgb(1, 21, 48);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.12);
    cursor:pointer;
    display: block;
    text-decoration: none;
}