*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    
}

body .navbar{
    height:14vh;
    background-color: rgb(20, 99, 99);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 3px;
}
body .navbar .logo{
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 30%;
    justify-content: center;
    height:inherit;
    
}

body .logo .logo_image{
    width:6vw;
    max-width:100%;
   
}

body .logo .logo_image img{
    width:100%;
    max-width:100%;
}
body .logo .logo_text{
    display:flex;
    align-items: center;
    font-size: 1.2rem;
}
body .logo .logo_text .frs{
    color:rgb(57, 143, 143);
    
    
}
body .logo .logo_text .sec{
    color:rgb(235, 189, 111);
   
}

body .navbar .links{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
body .navbar .links #logout{
    color:rgb(235, 189, 111);
}
body .navbar .links a{
  text-decoration: none;
  font-size:1.5rem;
  color:white;
  font-weight: bold;
  display: block;
  padding:10px;
}

body .navbar .links a:hover{
    opacity: 0.7;
}


body main .container{
    display:flex;
    height:50vh;
    max-height: 50vh;;
    width:80%;
    margin:auto;

}
body main .container .illus {
    flex:1;
    height: inherit;
}

body main .illus img{
    width:100%;
    max-width: 100%;
    height: inherit;
    object-fit: contain;
}

body main .container .intro{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}

body main .container .intro .intro_msg{
    border:2px solid rgb(20, 99, 99);
    color:rgb(20, 99, 99);
    width: fit-content;
    padding:0.5rem 1.5rem;
    border-radius:10px;
}
body .intro .intro_msg h1{
    font-size: 3rem;
}

body .intro .intro_msg p{
    text-align: end;
}


main .toselect{
    padding:2rem 1rem;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 1px;
    color:rgb(20, 99, 99);
    font-size: 1rem;
    
}

main .options{
    padding:1.5rem;
    /* border:2px solid rgb(20, 99, 99); */
    border-radius:5px;
    width:80%;
    margin: auto;
}
main .options .form_cont{
   
    display: flex;
    flex-wrap: nowrap;
    padding:5px;
    align-items: center;
    justify-content: space-between;  
}

main .form_cont .opt_cont{
    border:1px solid rgb(20, 99, 99);
    border-radius:3px;
    background-color: rgb(20, 99, 99);
    color:white;
    font-size:1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0.8rem;
    border-radius:8px;
    cursor:pointer;
}
main .form_cont .opt_cont:hover{
    background-color:white;
    color:rgb(20, 99, 99);
}
main .form_cont .opt_cont:active{
    background-color: rgb(20, 99, 99);
    color:white;
}

main .opt_cont label, main .opt_cont input[type="checkbox"]{
    cursor: pointer;
}

main form .submit{
    margin-top: 4rem;
    display: flex;
    align-items: flex-end;
    
    justify-content: end;
}

main form  .submit input[type="submit"]{
    padding:1rem;
    border:none;
    color:white;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in 0.2s;
    background-color: rgb(19, 5, 77);

}

main form .submit input[type="submit"]:hover{
    opacity:0.8;
    transform: scale(0.9);
}

main form .submit input[type="submit"]:active{
    background-color: white;
    color:rgb(19, 5, 77);
    border:1px solid dodgerblue;
}


footer{
    padding:1rem;
    background-color:#32404d;
}
footer .lgo_socials{
    display:flex;
    align-items:center;
    justify-content: space-around;
}

footer .lgo_socials .lgo{
    padding:1rem;
    
   
}
footer .lgo_socials .socials{
    padding:1rem;
    
}
footer .lgo_socials .socials .media{
   
    display:flex;
    flex-wrap: nowrap;
}

footer .socials .media a{
    display: block;
    width:30px;
}
footer .socials .media a:hover{
    transform:scale(1.2);
}
footer .socials .media img{
    width:100%;
    max-width: 100%;
}

footer .lgo_socials p{
    color:whitesmoke;
}
footer .lgo_socials .lgo h1{
    font-size:3rem;
}
footer .lgo .frs{
    color:rgb(57, 143, 143);
}
footer .lgo .sec{
    color:rgb(235, 189, 111);
}
footer .socials h1{
    color:rgb(235, 189, 111);
}
footer .copyright p{
    padding-top:1rem;
    text-align: center;
    font-size: 1.3rem;
    color:white;
}

section#program_details {
    padding:1rem;
}

section#program_details .intro{
    display:flex;
    height:40vh;
    max-height: 40vh;
    width:80%;
    margin: auto;
}
section#program_details .intro .pd_image{
   
    flex:1;
    height: inherit;
}
section#program_details .intro .pd_image img{
    height: inherit;
    width:100%;
    max-width: 100%;
    object-fit: contain;
}

section#program_details .intro h1{
   
    text-align: center;
    font-size: 2rem;
    flex:1;
    align-self: center;
    justify-content: center;
}
section#program_details .personal_subjects_container{
     width:80%;
     margin:auto;
     display: flex;
     justify-content: space-between;
     padding:1rem;
     padding-bottom: 2rem;
}   

section#program_details .personal_details{
    width: 50%;
}
section#program_details .personal_details .name{
    display:flex;
    border:1px solid black;
    padding:8px;
}
section#program_details .personal_details .programoffered{
    
    display:flex;
    border:1px solid black;
    padding:8px;
}
section#program_details .core_subjects{
    width:50%;
    
}
section#program_details .core_subjects h2{
    
    padding-left: 2rem;
}

section#program_details .core_subjects ul {
    list-style-type: none;
   
}
section#program_details .core_subjects ul li{
    padding:4px;
    border:1px solid black;
}
section#program_details .electives_container{
    padding:2rem 1rem; 
}

section#program_details .electives_container h2{
    text-align: center;
}

section#program_details .electives_container h2 #red{
    color:red;
}
